/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-abr-2019, 18:24:20
    Author     : imanb
*/

body{
    background: #c9f5e5;
}

.titulo{
    font-size: 40px;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}
#menu ul {
    
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background: white;
    border-bottom:0.1em solid black; 
    border-top: 0.1em solid black; 
}

#menu li {
   
    text-align: center;    
    display: inline-block;    
    width: calc(100% / 8); /* añade esto, se divide por 6 porque hay 6 elementos */
}

#menu li a:link{
    font-size: 32px;
    color: darkblue;
    font-weight : bold;
    text-decoration: none;
}
.contenido{
    padding-top: 7em;
    position:relative;
    font-family: arial, verdana;
}


#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#47c9af;
   text-align: center;
   color: grey;
   
}